*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, rgba(0,0,0, 0.6),rgba(0,0,0,0.9));
  width: 100vw;
  height: 100vh;
}
.container{
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly; 
}
.circle{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  margin: 0 5px;
  animation: loading 0.8s ease infinite;
  
}
.container .one{
  animation-delay: 0.3s;
}
.container .two{
  animation-delay: 0.4s;
}
.container .three{
  animation-delay: 0.5s;
}

@keyframes loading{
  0% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 10px;
    height: 10px;
  }
}