* {
  padding : 0;
  margin : 0;
  box-sizing: border-box;
}
input {
  margin: 20px 0 5px 10px;
  height: 2rem;
  font-size: 1rem;
} 
body {
  display: flex;
  align-items: center;
}
.container{
  /* border: 1px solid red; */
  margin: 0 auto; 
}
#add{
  background-color: tomato;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#warning {
  margin: 0 10px;
  color: red;
}
table {
  margin: 15px 10px;
}
table,td,th{
  border: 1px solid black;
  border-collapse: collapse;
}
td,th{
  padding: 5px;
}
.delete{
  padding: 5px 10px;
  border: 3px solid black;
  color: white;
  cursor: pointer;
  background-color: tomato;
}
.delete:hover{
  opacity: 0.9;
}